{% extends "base.html" %}

{% block content %}
<table>
    <tr>
        <thead>
            <td>Name</td>
            <td>Number</td>
            <td>Number of receipts</td>
        </thead>
        <tbody>
        {% for account in account_list.all %}
        <td>
            {{ account.name }}
        </td>
        <td>
            {{ account.number }}
        </td>
        <td>
            {{ account.receipts.count}}
        </td>
        {% endfor %}
    </tbody>
    </tr>
</table>

{% endblock content %}
